<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="voter" class="com.pt.app.voter.CheckVoteEligibility" init-method="check" destroy-method="destroy">
	<constructor-arg name="old" value="25"/>
	<constructor-arg name="uname" value="Prathap Reddy"/>
	<constructor-arg name="add" value="Kotapalli"/>
</bean>

</beans>